.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    text-align: left;
    background-color: #003B72;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 20px;
    height: 55px;
}

.title {
    padding-left: 10px;
    font-size: 14px;
    line-height: 17px;
}

.menuItem {
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%;
    padding-left: 20px;
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

.menuItem:hover {
    background-color: #fff;
    color: #003B72;
    border-left: 3px solid #7761FF;
}