.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #fff;
    background-color: #7761FF;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
}